<!--navbar-->
<!--fixed-top-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-transparent">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mx-auto" id="navbarSupportedContent">
            <ul class=" navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">COURSES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">CATEGORIES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">CONTACTS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        USER
                    </a>

                    <!--Dropdown menu condizionale sulla presenza di un utente loggato (al momento solo email non nulla)-->
                    <ul class="dropdown-menu">
                        <div *ngIf="loginEmail.length>0; then yesLogin else noLogin"></div>
                        <ng-template #yesLogin>
                            <img src="profile_placeholder.png" class="img-fluid" alt="profile pic">
                            <li>{{loginEmail}}</li>
                            <li><a class="dropdown-item" routerLink="/enroll" routerLinkActive="active">Enroll</a></li>
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                        </ng-template>
                        <ng-template #noLogin>
                            <li><a  class="dropdown-item" routerLink="/login" routerLinkActive="active">Log In</a></li>
                            <li><a class="dropdown-item" routerLink="/register" routerLinkActive="active">Register</a></li>
                        </ng-template>
                    </ul>
                <li>
                    <form class="" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </li>
                <li>
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
