<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-primary bg-gradient text-white text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body p-4">
                    <form (ngSubmit) = "submit()">
                        <div class="form-floating">
                            <input [(ngModel)]="this.loginRequest.email" type="email" name="email" class="form-control" id="login_email" placeholder="Enter email">
                            <label for="login_email">Email address</label>
                        </div>
                        <div class="form-floating mt-4">
                            <input [(ngModel)]="this.loginRequest.password" type="password" name="password" class="form-control" id="login_password" placeholder="Password">
                            <label for="login_password">Password</label>
                        </div>
                        <div class="text-center mt-1" *ngIf="error">
                            <p href="#" class="text-danger">I dati inseriti non sono validi.</p>
                        </div>
                        <div class="d-grid col-12 mt-4">
                            <button (click)="submit()" type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="#" class="text-secondary">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
