<div class="bg-dark">
    <div class="container my-5 border-top py-5 text-light">
        <h2 class="mb-4 text-center">Browse categories</h2>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title">Frontend</h3>
                    </div>
                    <img src="frontend.jpg" class="card-img-bottom" alt="Frontend">
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h3 class="card-title">Backend</h3>
                    </div>
                    <img src="backend.jpg" class="card-img-bottom" alt="Backend">

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h3 class="card-title">Full stack</h3>
                    </div>
                    <img src="fullstack.jpg" class="card-img-bottom" alt="Full stack">

                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h3 class="card-title">Cybersecurity</h3>
                    </div>
                    <img src="cybersecurity.jpg" class="card-img-bottom" alt="Cybersecurity">

                </div>
            </div>
        </div>
    </div>
</div>
