<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card shadow-lg">
                <div class="card-header bg-success bg-gradient text-white text-center">
                    <h4>Sign Up</h4>
                </div>
                <div class="card-body p-4">
                    <form>
                        <div class="form-group mb-3">
                            <label for="register_first_name">First name</label>
                            <input [(ngModel)]="this.registerRequest.name" type="text" name="name" class="form-control" id="register_first_name" placeholder="Enter first name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="register_last_name">Last name</label>
                            <input [(ngModel)]="this.registerRequest.lastName" type="text" name="lastName" class="form-control" id="register_last_name" placeholder="Enter last name">
                        </div>
                        <div class="form-group mb-3">
                            <label for="register_email">Email address</label>
                            <input [(ngModel)]="this.registerRequest.email" type="email" name="email" class="form-control" id="register_email" placeholder="Enter email">
                        </div>
                        <div class="form-group mb-3">
                            <label for="register_email">Password</label>
                            <input [(ngModel)]="this.registerRequest.password" type="password" name="password" class="form-control" id="register_password" placeholder="Enter password">
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-check-label" for="register_role">Teacher</label>
                            <input type="checkbox" name="isTeacher" class="form-check-input" id="register_role" (change)="onRoleChange($event)">

                        </div>
                        <div class="d-grid col-12">
                            <button type="submit" (click)="submit()" class="btn btn-success btn-block">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
